.subtitle {
  font: var(--subtitle);
  color: var(--gray-500);
}

.title-lg {
  font: var(--title-lg);
  color: var(--gray-600);
}

.text-sm {
  font: var(--text-sm);
  color: var(--gray-400);
}

.grid {
  display: grid;
  grid-template-areas: 
  "1 2 3"
  "4 5 6";
}

img {
  max-width: 100%;
}